<?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type='text/xsl' href='_UpgradeReport_Files/UpgradeReport.xslt'?><UpgradeLog>
<Properties><Property Name="Solution" Value="XNAEngine">
</Property><Property Name="Solution File" Value="C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\XNAEngine.sln">
</Property><Property Name="User Options File" Value="C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\XNAEngine.suo">
</Property><Property Name="Date" Value="Sunday, 12 July 2009">
</Property><Property Name="Time" Value="11:40 AM">
</Property></Properties><Event ErrorLevel="0" Project="" Source="XNAEngine.sln" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine.sln">
</Event><Event ErrorLevel="0" Project="" Source="XNAEngine.suo" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine.suo">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\XNAEngine.vbproj" Description="Project file successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\XNAEngine.vbproj">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\Camera.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\Camera.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\Framerate.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\Framerate.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\ModelClass.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\ModelClass.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\My Project\AssemblyInfo.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\My Project\AssemblyInfo.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\My Project\Application.Designer.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\My Project\Application.Designer.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\My Project\Resources.Designer.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\My Project\Resources.Designer.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\My Project\Settings.Designer.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\My Project\Settings.Designer.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\SkyBoxClass.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\SkyBoxClass.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\Sound.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\Sound.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\TerrainClass.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\TerrainClass.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\TextureClass.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\TextureClass.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\WriteText.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\WriteText.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\XNAEngine.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\XNAEngine.vb">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\My Project\Application.myapp" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\My Project\Application.myapp">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\My Project\Settings.settings" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\My Project\Settings.settings">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\My Project\Resources.resx" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\My Project\Resources.resx">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\XNAEngine.vbproj" Description="Project converted successfully">
</Event><Event ErrorLevel="3" Project="XNAEngine" Source="XNAEngine\XNAEngine.vbproj" Description="Converted">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\ContentPipeline.vbproj" Description="Project file successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\ContentPipeline\ContentPipeline\ContentPipeline.vbproj">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\Asset.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\ContentPipeline\ContentPipeline\Asset.vb">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\My Project\AssemblyInfo.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\ContentPipeline\ContentPipeline\My Project\AssemblyInfo.vb">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\My Project\Application.Designer.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\ContentPipeline\ContentPipeline\My Project\Application.Designer.vb">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\My Project\Resources.Designer.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\ContentPipeline\ContentPipeline\My Project\Resources.Designer.vb">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\My Project\Settings.Designer.vb" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\ContentPipeline\ContentPipeline\My Project\Settings.Designer.vb">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\My Project\Application.myapp" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\ContentPipeline\ContentPipeline\My Project\Application.myapp">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\My Project\Settings.settings" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\ContentPipeline\ContentPipeline\My Project\Settings.settings">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\My Project\Resources.resx" Description="File successfully backed up as C:\Users\user.example\Documents\Visual Studio 2008\Projects\XNAEngine\Backup\XNAEngine\ContentPipeline\ContentPipeline\My Project\Resources.resx">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\ContentPipeline.vbproj" Description="Project converted successfully">
</Event><Event ErrorLevel="3" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\ContentPipeline.vbproj" Description="Converted">
</Event><Event ErrorLevel="0" Project="" Source="XNAEngine.sln" Description="Solution converted successfully">
</Event><Event ErrorLevel="3" Project="" Source="XNAEngine.sln" Description="Converted">
</Event><Event ErrorLevel="0" Project="XNAEngine" Source="XNAEngine\XNAEngine.vbproj" Description="Scan complete: Upgrade not required for project files.">
</Event><Event ErrorLevel="0" Project="ContentPipeline" Source="XNAEngine\ContentPipeline\ContentPipeline\ContentPipeline.vbproj" Description="Scan complete: Upgrade not required for project files.">
</Event></UpgradeLog>